html, body {
	height: 100%;
	width: 100%;
	background-color: #E9EBF8;
}

#imgscreen {
    margin: auto;
    margin-top: 100px;
    width: 500px;
    height: 500px;
    z-index: 9999;
    background-image: url('../img/T.png');
    background-repeat: no-repeat;
}

.power_box {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 100px;
	background-color: #E9EBF8;
    display: none;
}

#product{
    color: white;
    background-color: #333;
    margin: 5px;
    height: 280px;
    width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
}

#product:hover{
    background-color: #2eb2ff;
    color: #011638;
    cursor: pointer;
}


.row-centered { 
	margin: auto; 
	width: 100%;
    justify-content:center;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: white;
}
